{% extends 'accounts/base.html' %}

{% block content %}

<style type="text/css">
	input{
		width: 20% !important;
		margin-bottom: 1%;
	}

	@media(max-width: 640px){
		input{
			width: 100% !important;
			margin-bottom: 2%;
		}
	}	

</style>

<div class="container">

	<h3>Enter new password</h3>

	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

	<form method="post">

		{% csrf_token %}
		{{form}}
		<button class="btn btn-sm btn-info" type="submit">Update Password</button>
		
		
	</form>
</div>

<script type="text/javascript">
	text_box_1 = document.getElementById('id_new_password1')
	text_box_1.className += 'form-control';
	text_box_1.size = '20';
</script>

<script type="text/javascript">
	text_box_2 = document.getElementById('id_new_password2')
	text_box_2.className += 'form-control';
	text_box_2.size = '20';
</script>

{% endblock content %}
