{% extends 'accounts/base.html' %}

{% block content %}

<style type="text/css">
	input{
		width: 20% !important;
		margin-bottom: 1%;
	}

	@media(max-width: 640px){
		input{
			width: 100% !important;
			margin-bottom: 2%;
		}
	}	

</style>
<div class="container">
	<h3>Password reset</h3>

	<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

	<form method="post">

		{% csrf_token %}
		{{form}}
		<button class="btn btn-sm btn-info" type="submit">Submit</button>
		
	</form>
</div>

<script type="text/javascript">
	text_box = document.getElementById('id_email')
	text_box.className += 'form-control';
	text_box.size = '20';
</script>
{% endblock content %}
